@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It";
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.claim-job').submit(function (event) {
                event.preventDefault(),
                $.ajax({
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'html',
                    url: '@Url.Action("Claim")',
                    success: function (result) {
                        $('#claimView').html(result);
                    }
                });
            });
        });
    </script>
@foreach (var Job in Model)
{

    <ul>
        <li>@Job.Title </li>
        <ul>
            <li>@Job.Description | @Html.ActionLink("Delete", "Delete", new { id = Job.JobId })</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li>This job is unclaimed.<br />
                <form action="Claim" class="claim-job">
                    <input type="hidden" name="id" value="@Job.JobId" />
                    <button type="submit">Claim this job</button>
                </form>
            </li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
   


    <hr />
}

<div id="claimView"></div>

