
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('.claim-job').click(function () {
                $.ajax({
                    type: 'GET',
                    data: { 'id': @Job.JobId},
                    url: '@Url.Action("Claim")',
                    success: function (result) {
                        $('#claimView').html(result);
                    }
                });
            });
        });
    </script>
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li class="btn claim-job">This job is unclaimed. Claim this job.</li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>


    <hr />
}

<div id="claimView"></div>

